.table {
  width: 100%;
  border-collapse: collapse;
}

.table th, .table td {
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

/* Estilo de la columna de acciones */
.actions-column {
  text-align: center;
  white-space: nowrap;
}

.actions-column button {
  margin-right: 8px;
}

.actions-column button:last-child {
  margin-right: 0;
}
.content-container {
  padding: 20px; /* Ajusta el valor según lo que desees */
}
.button-container {
  display: flex;
  justify-content: flex-end;
}

.custom-button {
  border: 1px solid black;
  color: white;
  padding: 8px 16px;
  border-radius: 4px;
  margin-right: 8px;
  min-width: 100px;
  cursor: pointer;
  background-color: #007bff;
  display: flex;
  align-items: center;
}





